*{
    margin: 0rem auto;;
    padding: 0;
    box-sizing: border-box;
    font-size: large;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

 #container{
    width: 300px;
    color: rgb(234, 239, 240);
    background: rgb(41, 40, 40);
    margin: 2rem auto;
    padding: 1rem;
    border-radius: 50px;
}

.rows{
    display: flex;
    justify-content: center;
    align-items: center;
}

.rows div{
    background: rgb(77, 73, 73);
    width: 20%;
    padding: 0.7rem;
    cursor: pointer;
    border-radius: 50%;
    margin: 0.2rem;
}

.rows .bg-light{
    background: rgb(234, 239, 240);
    color: rgb(77, 73, 73);
}

.rows .bg-orange{
    background: rgb(226, 128, 35);
}

.rows.span{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin: 0 0.5rem 0 0;
}

.rows .span1{
    width: 85%;
    margin-left: 1rem;
    border-radius: 50px;
}

.rows .span2, .rows .span3{
    width: 85%;
}

.input-container{
    width: 100%;
    height: 100px;
    padding-right: 1.5rem;
}

.input-display{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 3rem;
    overflow: auto;
}

.rows .clicked{
    background-color: rgb(234, 239, 240);
    transition: background 3s;
}

.rows .toggle-bg-light{
    background-color: rgb(255, 255, 255);
    transition: background 1s;
}

.rows .toggle-bg-orange{
    background-color: rgb(255, 255, 255);
    color: rgb(226, 128, 35);
    transition: background 1s;
}
